asgiref==3.6.0
async-generator==1.10
attrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
dj-database-url==1.2.0
Django==4.1.7
django-heroku==0.3.1
exceptiongroup==1.1.1
gunicorn==20.1.0
h11==0.14.0
idna==3.4
oauthlib==3.2.2
outcome==1.2.0
psycopg2==2.9.5
pycparser==2.21
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.28.2
requests-oauthlib==1.3.1
selenium==4.8.3
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.3
trio==0.22.0
trio-websocket==0.10.2
tzdata==2022.7
urllib3==1.26.15
whitenoise==6.4.0
wsproto==1.2.0
git+https://github.com/logan9997/legosite_packages.git#egg=scripts&subdirectory=scripts
git+https://github.com/logan9997/legosite_packages.git#egg=config&subdirectory=config
git+https://github.com/logan9997/legosite_packages.git#egg=project_utils&subdirectory=project_utils