<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'App/styles.css' now 'U' %}">
    <script src="{% static 'App/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="{% static 'App/item_container.css' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5779115957542739"
    crossorigin="anonymous"></script>

    <script>
        
        var charts = [];

        window.onload = function() {
            window.scrollTo(0,0)
        }
    </script>

</head>
<body>
    {% load tags %}
    {% check_login_status request %}
    {% add_username_email_to_context request %}

    {% item_details_search_suggestions as item_details %}
    {{ item_details|json_script:"item_details" }}

    {% item_names as item_names %}
    {{ item_names|json_script:"item_names" }}

    {% get_max_graph_points request as max_graph_points  %}
    {{ max_graph_points|json_script:"max_graph_points" }}
    
    
    <nav>
        <div id="dropdown-links">
            <button onclick="hide_unhide('nav-ul-links', 'flex')">
                <img id="dropdown-button-img" src="{% static 'App/styling-images/dropdown-button.png'%}">
            </button>
        </div>
        <ul id="nav-ul-links">
            <li>
                <button><a href="{% url 'index' %}">Home</a></button>
            </li>

            <li>
                <button><a href="{% url 'search' %}">Search</a></button>
            </li>

            <li>
                <button><a href="{% url 'trending' %}">Trending</a></button>
            </li>

            {% if logged_in %}

            <li>
                <button>Profile</button>
                <div class="dropdown-content">
                    <a href="{% url 'settings' %}">Settings</a>
                    <a href="{% url 'portfolio' %}">Portfolio</a>
                    <a href="{% url 'watchlist' %}">Watchlist</a>
                </div>
            </li>

            {% else %}

            <li>
                <button><a href="{% url 'login' %}">Login</a></button>
            </li>

            <li>
                <button><a href="{% url 'join' %}">Join</a></button>
            </li>

            {% endif %}
        </ul>
        <div id="search-logout-suggestions-container">
            <div id="search-logout-container">
                <form id="search-form" action="{% url 'search_item' request.path_info %}" method="post">
                    {% csrf_token %}
                        <input id="item-id-input" oninput="search_suggestions(this)" placeholder="Enter item ID / item Name" type="text" name="item_id">
                </form>

                {% if logged_in %}
                <a id="logout" href="{% url 'logout' %}"><img onclick="logout_popup(event)" src="{% static 'App/styling-images/logout_button.png' %}" alt="logout"></a>
                {% endif %}
            </div>

            {% max_search_suggestions as max_search_suggestions %}
            {{ max_search_suggestions|json_script:"max_search_suggestions" }}
        </div>
    </nav>

        {% block content%}
        
        {% endblock %}


    <footer>
        <p>Page Created By: Logan Baxter</p>
        <p>
            <a target="_blank" href="https://github.com/logan9997">GitHub</a> : 
            <a target="_blank" href="https://stackoverflow.com/users/18749472/logan-9997">Stack Overflow</a> : 
            <a target="_blank" href="https://store.bricklink.com/legoseller9997&utm_content=globalnav#/shop">Bricklink</a>
        </p>
        <p>loganbax101@gmail.com</p>
        <p>+44 07749 969728</p>
        <br>
        <div id="smaller-text">
            <p>All data collected from bricklink.com</p>
        </div>
    </footer>
</body>
</html>