{% load tags %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'App/filters.css' %}">

<div class="tool-bar-div" id="filters">
    <h3>Filters</h3>
    <div id="filters-flex-container">
        <div id="themes-filter" class="filter-container">
            <h4>Themes</h4>
            <div id="theme-filters-form-container">
                <form action="{% url 'filters_POST' view %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form-type" value="theme-filter">
                    {% for theme in themes %}
                    <div class="theme-checkbox-container">
                        <table>
                            <th style="color : {{theme.theme_path|get_indent_colour}}" class="theme"><label for="{{theme.theme_path}}">{{theme.theme_path|count_theme_indent}}</label></th>
                            {% if theme.theme_path not in filtered_themes %}
                            <th class="checkbox"><button type="submit" name="theme-filter" value="{{theme.theme_path}}">x</button></th>
                            {% else %}
                            <th class="checkbox"><button style="background-color: orangered;" type="submit" name="theme-filter" value="{{theme.theme_path}}">x</button></th>
                            {% endif %}
                        </table>
                    </div>
                    {% endfor %}
                </form>
            </div>
            <form action="{% url 'filters_POST' view %}" method="post">
                {% csrf_token %}
                <button type="submit" name="clear-form" class="clear-button" value="clear-theme-filters" id="clear-theme-filters-button">Clear!</button>
            </form>
        </div>


        <div id="metric-filters" class="filter-container">
            <h4>Prices & Quantity</h4>
            <table>
            <form action="{% url 'filters_POST' view %}" method="post">
                {% for metric in all_metrics %}
                <input type="hidden" name="form-type" value="metric-filter">
                {% csrf_token %}
                <div class="main-metric-filter-container">
                    <tr class="row-header"><th colspan="2">{{metric|capitalise_split_words}}</th></tr>
                    <tr class="min-max-container">
                        <td>
                            <label for="{{metric}}_min">Min</label>
                            {% if metric_filters|get_item:metric|get_item:'min' == -1 %}
                            <input step="{{metric_input_steps|get_item:metric}}" min="0" placeholder="(£) Min" type="number" name="{{metric}}_min">
                            {% else %}
                            <input step="{{metric_input_steps|get_item:metric}}" min="0" placeholder="(£) Min" type="number" name="{{metric}}_min" value="{{metric_filters|get_item:metric|get_item:'min'}}">
                            {% endif %}
                        </td>
                        <td>
                            <label for="{{metric}}_min">Max</label>
                            {% if metric_filters|get_item:metric|get_item:'max' == -1 %}
                            <input step="{{metric_input_steps|get_item:metric}}" min="0" placeholder="(£) Max" type="number" name="{{metric}}_max">
                            {% else %}
                            <input step="{{metric_input_steps|get_item:metric}}" min="0" placeholder="(£) Max" type="number" name="{{metric}}_max" value="{{metric_filters|get_item:metric|get_item:'max'}}">
                            {% endif %}
                        </td>
                    </tr>
                </div>
                {% endfor %}
                <tr id="metric-filters-buttons-container">
                    <td><button type="submit" class="clear-button" name="clear-form" value="clear-metric-filters" id="clear-metric-filter-button" >Clear!</button></td>
                    <td><button type="submit" id="metric-filters-submit-button">&rarr;</button></td>
                </tr>
            </form>
            </table>
        </div>
    </div>
</div>

{% endblock %}