{% load static %}

<link rel="stylesheet" href="{% static 'App/item_filters_and_sorts.css' %}">

<section id="main-forms-container">

{% if sub_view != "" %}
    <form id="page-buttons-form" action="{% url action_view sub_view %}" method="POST">
{% else %}
    <form id="page-buttons-form" action="{% url action_view %}" method="POST">
{% endif %}

    {% csrf_token %}
    {% for page_button in num_pages %}
        {% if page_button == current_page %}
            <input style="background-color: green;" name="page" type="submit" value="{{page_button}}">
        {% else %}
            <input name="page" type="submit" value="{{page_button}}">
        {% endif %}
    {% endfor %}
</form>

<div id="sort-forms">
    {% if request.GET.item == None %}
        {% if sub_view != "" %}
            <form id="page-buttons-form" action="{% url action_view sub_view %}" method="POST">
        {% else %}
            <form id="page-buttons-form" action="{% url action_view %}" method="POST">
        {% endif %}
            {% csrf_token %}
            <div class="input-label-container">
                {% if request.path == "/trending/" %}
                <label for="sort-field">Metric : </label>
                {% else %}
                <label for="sort-field">Sort : </label>
                {% endif %}
                <select onchange="this.form.submit()" name="sort-field">
                    {% for sort in sort_options %}
                        <option value="{{sort.value}}">{{sort.text}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    {% endif %}
    </div>
<div>
    {% if item_id == None or item_id == "" %}
        <form id="page-buttons-form" action="{% url action_view sub_view %}" method="POST">
    {% else %}
        <form id="page-buttons-form" action="{% url action_view sub_view %}?item={{item_id}}" method="POST">
    {% endif %}


        {% csrf_token %}
        <label for="graph-data-form">Graph Data : </label>
        <select onchange="this.form.submit()" name="graph-metric">
            {% for graph_option in graph_options %}
                <option value="{{graph_option.value}}">{{graph_option.text}}</option>
            {% endfor %}
        </select>
    </form>
</div>

</section>