{% block content %}
{% load static %}
{% load tags %}
<link rel="stylesheet" href="{% static 'App/user_items.css' %}">

<h1>&nbsp;&nbsp;{{view|capitalise}}&nbsp;&nbsp;</h1>

<section id="header">
    <div id="tool-bar-header" class="headers">
        <h2>Overview</h2>
    </div>



    <div id="items-header" class="headers">
        {% include 'App/template_blocks/sorts_and_pages.html' with action_view=view sub_view="" item_id=item_id %}
    </div>
    
</section>

<section id="main-container">

    <section id="tool-bar">
            {% if request.GET.item != None%}
                <h3>Return to <a href="{% url view %}">{{view|capitalise}}</a></h3>
        
                <div class="tool-bar-div" id="stats">
                    <h3>Stats</h3>
                    <p>Total Market Value : £{{total_market_value|two_decimals}}</p>
                    <p>Total bought for price : £{{total_bought_price|two_decimals}}</p>
                    <p>Total sold for price : £{{total_sold_price|none_to_hyphens}}</p>

                    {% if total_profit < 0 %}
                        <p>Total Loss £{{total_profit|times_negative_one|shorten_large_num|two_decimals}}</p>
                    {% else %}
                        <p>Total Profit : £{{total_profit|two_decimals|shorten_large_num}}</p>
                    {% endif %}
                    <br>
                    <p>Total Owners : {{total_owners|shorten_large_num}}</p>
                    <p>Total Watchers : {{total_watchers|shorten_large_num}}</p>
                    <br>
                </div>
            {% else %}

            {% include 'App/template_blocks/filters.html' with action_view=view sub_view="" %}

            <div class="tool-bar-div" id="stats">
                <h3>Stats</h3>
                    
                {% if request.path == "/portfolio/" %}
                    <p>Total of {{ total_items|shorten_large_num }} items in your portfolio.</p>
                {% endif %}

                <p>Total of {{ total_unique_items|shorten_large_num }} unique items in your {{ view }}.</p>

                {% if metric_total.metric != 'Total Quantity'%}
                    <p>Total {{metric_total.metric}} £{{metric_total.total|two_decimals|shorten_large_num}}</p>
                {% else %}
                    <p>{{metric_total.metric}} {{metric_total.total|remove_decimals|shorten_large_num}}</p>
                {% endif %}

                <br>

                {% if request.path == "/portfolio/" %}
                    <p>Total Price Bought For : £{{total_bought_price|two_decimals|shorten_large_num}}</p>
                    <p>Total Price Sold For : £{{total_sold_price|two_decimals|shorten_large_num}}</p>
                    {% if total_profit < 0 %}
                        <p>Total Loss £{{total_profit|times_negative_one|two_decimals|shorten_large_num}}</p>
                    {% else %}
                        <p>Total Profit : £{{total_profit|two_decimals|shorten_large_num}}</p>
                    {% endif %}
                {% endif %}

            </div>

            <div class="tool-bar-div" id="themes-container">
                <h3>Themes - <span id="themes-header-metric">({{metric_total.metric}})</span></h3>
                {% for theme in themes %}
                    {% if metric_total.metric != 'Total Quantity' %}
                        <p>{{theme.theme_path | count_theme_indent }} ({{theme.count|shorten_large_num}}) : £{{theme.metric_total |two_decimals|shorten_large_num}}</p>
                    {% else %}
                        <p>{{theme.theme_path | count_theme_indent }} ({{theme.count|shorten_large_num}}) : {{theme.metric_total |remove_decimals|shorten_large_num}}</p>
                    {% endif %}
                {% endfor %}
                <br>
            </div>

            {% endif %}
    </section>
        <section id="items-container">
            <div id="items">
            {% for item in items %}

            <div class="item-and-side-bar-container">
                {% if request.path == "/portfolio/" %}
                <div class="items-options">
                    <div class="qty-condition-container">      
                        {% if item.owned_quantity_new != None %} 
                            <p>{{item.owned_quantity_new|shorten_large_num}} (N)</p>
                        {% endif %}

                        {% if item.owned_quantity_used != None %}
                            <p>{{item.owned_quantity_used|shorten_large_num}} (U)</p>
                        {% endif %}
                    </div>

                    <div class="view-owned">
                        <a href="{% url 'portfolio' %}item/{{item.item_id}}">Entries</a>
                    </div>
                </div>
                {% else %}
                <div class="items-options watchlist-options">
                    <form action="{% url view %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="remove-watchlist-item">
                        <input type="hidden" name="item_id" value="{{item.item_id}}">
                        <button type="submit">-</button>
                    </form>
                </div>
                {% endif %}
                {% include 'App/template_blocks/item_container.html' with show_prices=True %}
                </div>
                {% endfor %}
            </div>  
        </section>
</section>

{% endblock%}