body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 0.5rem 0 0.5rem;
    margin-top: 4rem;
    width: 90%;
    margin-left: 5%;
} 

h1:before, h1:after {
    position: absolute;
    top: 12.5%;
    overflow: hidden;
    width: 40%;
    height: 1px;
    content: '\a0';
    background-color: rgb(228, 220, 220);
}

h1:before {
    margin-left: -40%;
    text-align: right;
}

textarea {
    resize: none;
}

#header {
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 2.6rem;
    text-align: center;
}

.headers {
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

#main-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#tool-bar-header {
    width: 25vw;
}

.sub-theme-container {
    display: none;
}

#items-header {
    width: 70vw;
    display: inline-block;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#items-header input {
    background-color: white;
    border: none;
}

#items-header input:hover {
    background-color: whitesmoke;
}

#main-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#tool-bar {
    width: 25vw;
    height: 100rem;
    background-color: whitesmoke;
}

#tool-bar h3 {
    padding: 1rem 0.5rem 0;
}

#tool-bar p {
    margin-left: 1.4rem;
}

.tool-bar-div {
    margin:0 1rem 0;
    background-color: white;
    border-radius: 0.7rem;
}

#themes-header-metric {
    font-size: 0.85rem;
    font-style: italic;
}

#items-container {
    background-color: whitesmoke;
    width: 70vw;
    height: 100rem;
    margin-bottom: 5rem;
}

#items {
    padding-top: 1rem;
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-and-side-bar-container {
    width: 24rem;
    margin: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
}

.items-options {
    background-color: white;
    font-size: 1rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.5rem;    
    padding: 0.5rem;
    width: 2.2rem;
}

.watchlist-options {
    height: 2rem ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.watchlist-options button {
    background-color: red;
}

.add-item {
    background-color: green;
}

.remove-item {
    background-color: red;
}


.items-options input[type=number] {
    width: 2.5rem;
    margin-bottom: 1rem;
}

.qty-condition-container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding: 0;
    top: 0.3rem;
    height: 3rem;
}

.qty-condition-container p {
    margin: 0;
    width: 3rem;
    text-align: center;
}

.view-owned button {
    padding: 0.1rem;
}

.item-container {
    background-color: white;
    width: 120%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 0.6rem;
    border-top-left-radius: 0;
}

.item-img-and-title {
    width: 10rem;
    height: 70%;
    text-align: center;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.item-img-and-title h3 {
    font-size:0.85rem;
    padding: 0.4rem 0 0;
    margin: 0;
    height: 2.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-img-and-title h4 {
    font-size:0.7rem;
    padding: 0.2rem 0 0.4rem;
    margin: 0;
    font-style: italic;
}

.item-img-and-title img {
    padding: 0.4rem;
    height: 5.75rem;
}

.price-info {
    margin-top: 1rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.price-trend {
    z-index: 3;
    width: 17rem !important;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.price-info table {
    border-collapse: collapse;
    background-color: white;
    z-index: 2;
}

.price-info table tr:last-of-type{
    border-top: 0.12rem gainsboro solid;
}

.price-info td {
    padding: 0.25rem;
    overflow: hidden;

}

.item_canvas {
    width: 10rem;
    height: 10rem;
}

#trends-canvas {
    width: 100%;
    height: 30rem;
}

#entry-item-container {
    display: flex;
    justify-content: space-evenly;
    height: 14rem;
}

#item-profile {
    height: 20rem;
}

#item-profile .item-container {
    justify-content: center;
    width: 14rem;
    height: 16rem;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    border-radius: 1rem !important;
    padding-bottom: 1rem;

}

#chart-container {
    background-color: white;
    margin-top: 1rem;
    width: 26rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    text-align: center;
    height: 16rem;
    border-radius: 1rem ;
}

#header-and-graph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-and-graph-container h3 {
    margin: 2rem 0 0;
}

#chart-container .item_canvas {
    width: 20rem !important;
    margin: 2rem 0 0;
}

#metric-change-container {
    background-color: white;
    width: 15rem;
    margin-top: 1rem;
    height: 16rem;
    border-radius: 1rem ;
    padding-bottom: 1rem;
    text-align: center;
}

#add-new-entry {
    text-align: center;
    position: relative;
    top: 5rem;
    width: 90%;
    margin: 2rem calc(5% - 0.1rem) 7rem;
}

#new-entry-sub-container {
    background-color: white;
    border-radius: 1rem;
    padding: 0.3rem 0.2rem 2rem;
}

#entries-items-container {
    margin-top: 6rem;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    border-radius: 1rem;
}

#entries-items-container h3 {
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}

#entries-items-loop-container {
    overflow-y: scroll;
    height: 56rem;
}





