{% extends 'App/template_blocks/base.html' %}

{% load tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'App/portfolio_item.css' %}">

<h1>&nbsp;&nbsp;{{item_id|capitalise}}&nbsp;&nbsp;</h1>

<section id="header">
    <div id="tool-bar-header" class="headers">
        <h2>Overview</h2>
    </div>

    <div id="item-header" class="headers">
        {% include 'App/template_blocks/sorts_and_pages.html' with action_view='portfolio_item' sub_view=item_id item_id=item_id hide_sort_options=True %}
    </div>
    
</section>

<section id="main-container">

    <section id="tool-bar">
            
                <h3>Return to <a href="{% url view %}">{{view|capitalise}}</a></h3>
        
                <div class="tool-bar-div" id="stats">
                    <h3>Stats</h3>
                    <p>Total Market Value : £{{total_market_value|two_decimals}}</p>
                    <p>Total bought for price : £{{total_bought_price|two_decimals}}</p>
                    <p>Total sold for price : £{{total_sold_price|none_to_hyphens}}</p>

                    {% if total_profit < 0 %}
                        <p>Total Loss £{{total_profit|times_negative_one|shorten_large_num|two_decimals}}</p>
                    {% else %}
                        <p>Total Profit : £{{total_profit|two_decimals|shorten_large_num}}</p>
                    {% endif %}
                    <br>
                    <p>Total Owners : {{total_owners|shorten_large_num}}</p>
                    <p>Total Watchers : {{total_watchers|shorten_large_num}}</p>
                    <br>
                </div>
           
    </section>
    
        

    <section id="item-container">
            <div id="entry-item-container">
                <div id="item-profile">
                    {% include 'App/template_blocks/item_container.html' with item=item_info show_graph=False show_year_released=True show_availability=True %}
                </div>

                <div id="chart-container">
                    <div id="header-and-graph-container">
                        <h3>{{graph_metric|capitalise_split_words}} Trend</h3>
                        {% include 'App/template_blocks/item_chart.html' with item=item_info %}
                    </div>
                </div>

                <div id="metric-change-container">
                    <h3>Price & Quantity Trends</h3>
                    {% for trend in metric_changes %}
                        {% if trend.change >= 0 %}
                            <p style="color:green">{{trend.metric|capitalise_split_words}} : (%) {{trend.change|shorten_large_num}}</p>
                        {% else %}
                            <p style="color:red">{{trend.metric|capitalise_split_words}} : (%) {{trend.change|shorten_large_num}}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div id="add-new-entry">
                <div id="new-entry-sub-container">
                    <h3>Add New Entry</h3>
                    {% include 'App/template_blocks/entry_item_form.html' with item_id=item_id user_item_type='portfolio' redirect_view='portfolio_item/'|add:item_id add_new=True show_notes=True %}
                </div>
            </div>

            <div id="entries-item-container">
                <h3>Entries</h3>
                <div id="entries-item-loop-container">
                {% for entry in item_entries %}
                    {% include 'App/template_blocks/entry_item_form.html'  with item_id=item_id user_item_type='portfolio' redirect_view='portfolio_item/'|add:item_id add_new=False show_notes=True %}
                {% endfor %}
                </div>
            </div>

    </section>
</section>
{% endblock %}