{% extends 'App/template_blocks/base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'App/search.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    {% load tags %}

    <p id="important-info">Only theme with data <a href="{% url 'search' %}Star_Wars">Star Wars</a></p>

    <div id="theme-path-container">
        {% for theme in theme_paths %}
            <a href="{% url 'search' %}{{theme.url}}">{{theme.theme|replace:"_| "|replace:"/| / "}}</a>
            {% if theme_paths|index:theme != theme_paths|length %}<span>/</span>{% endif %}
        {% endfor %}
    </div>

    {% if sub_themes|length > 0 %}

    <section id="search-themes-container">

    <section id="all-themes-container">
        {% for theme in sub_themes %}
        <a class="theme-container" href="{% url 'search' theme_path %}{{theme.sub_theme}}/">
            <h3>{{theme.sub_theme|replace_underscore}}</h3>
            <img src="{% static theme.img_path %}" loading="lazy">
        </a>
        {% endfor %}
    </section>

    </section>
    
    {% endif %}

    
    {% if request.get_full_path|count:"/" != 2 %}
    <section id="filters-container">
        <button id="collapse-filters-button" onclick="hide_unhide('filters')">Show Filters</button>
        {% include 'App/template_blocks/filters.html' with action_view='search' sub_view=theme_path %}
    </section>
    {% endif %}

    {% if theme_items|length > 0 and request.get_full_path|count:"/" != 2 %}

    <section id="theme-items-container">
        <!-- item sorting, graph data, page buttons -->
        <div id="sort-options-container">
            {% include 'App/template_blocks/sorts_and_pages.html' with action_view="search" sub_view=theme_path %}
        </div>

        <div id="theme-items">
        {% for item in theme_items %}
            <div class="main-item-container">
            {% include 'App/template_blocks/item_container.html' %}
            </div>
        {% endfor %}
        </div>
    </section>

    {% else %}
    <section id="info">
        <div id="trending-themes">
            <div id="biggest-winners" class="trending-themes-container">
                <h3>Biggest Winners</h3>
                <table>
                    {% for theme in biggest_theme_trends.biggest_winners %}
                    <tr>
                        <td class="theme-path"><a href="{% url 'search' theme.theme_path|replace:'~|/' %}">{{theme.theme_path|replace:"_| "|replace:"~|, "}}</a></td>
                        <td class="change">%{{theme.change|postivie_or_negative_sign}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div id="biggest-losers" class="trending-themes-container">
                <h3>Biggest Losers</h3>
                <table>
                {% for theme in biggest_theme_trends.biggest_losers %}
                <tr>
                    <td class="theme-path"><a href="">{{theme.theme_path|replace:"_| "|replace:"~|, "}}</a></td>
                    <td class="change">%{{theme.change}}</td>
                </tr>
                {% endfor %}
                </table>
            </div>             
        </div>
    </section>
    {% endif %}

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        display = localStorage.getItem("cached")
        console.log("reload", display)
        document.getElementById('filters').style.display = display
    })

    window.onload = maintain_scroll_pos("theme-filters-form-container")

    </script>

{% endblock %}

