{% extends 'App/template_blocks/base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'App/settings.css' %}">

<section id="main-container">

    <section id="personal-details" class="profile-change-section">
        <h2>Change Username <span class="max-chars">* Max chars ({{username_max_chars}})</h2>
        <form action="{% url 'settings' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="personal-details-form">

            <div class="input-label-container">
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="{{ username }}">
            </div>

            <input type="submit" value="Update!">
            
            <p class="error-msg">{{change_username_error_msg}}</p>
        </form>
    </section>

    <section id="change-password" class="profile-change-section">
        <h2>Change Password <span class="max-chars">* Max chars ({{password_max_chars}})</span></h2>
        <form action="{% url 'settings' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="change-password-form">

            <div class="input-label-container">
                <label for="old_password">Old Password:</label>
                <input type="password" name="old_password">
            </div>

            <div class="input-label-container">
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password">
            </div>

            <div class="input-label-container">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password">
            </div>
            <input type="submit" value="Update!">
        </form>

        <p class="error-msg">{{ change_password_error_message }}</p>

    </section>

    <!-- <section id="email-preferences" class="profile-change-section">
        <h2>Email Preferences - (cosmetic)</h2>
        <form action="{% url 'settings' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="email-preference-form">

            <div class="input-label-container">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="{{ email }}">
            </div>

            <div class="input-label-container">            
                <label for="preference">Frequency:</label>

                <div id="radio-buttons">
                    <div class="input-label-container">
                        <input type="radio" name="preference" value="Never">
                        <label for="Never">Never</label>
                    </div>

                    <div class="input-label-container">
                        <input type="radio" name="preference" value="Occasional">
                        <label for="Occasional">Occasional</label>
                    </div>
                    
                    <div class="input-label-container">
                        <input type="radio" name="preference" value="All">
                        <label for="All">All</label>
                    </div>
                </div>
            </div>

            <input type="submit" value="Update!">
        </form>
    </section> -->

    <section id="member-since-panel">
        <p>Member since 2023</p>
    </section>

</section>

{% endblock %}

