{% extends 'App/template_blocks/base.html' %}

{% block content %}

{% load static %}
{% load tags %}
<link rel="stylesheet" href="{% static 'App/trending.css' %}">

{{ slider_start_value|json_script:"slider_start_value"}}
{{ slider_end_value|json_script:"slider_end_value"}}

<script>
    var onload_slider_value_start = JSON.parse(document.getElementById("slider_start_value").textContent) -1
    var onload_slider_value_end = JSON.parse(document.getElementById("slider_end_value").textContent) 
</script>

<section id="main-container">
    <h2>Trending</h2>
    <div id="header">
        <div id="inputs-forms-container">
            {% include 'App/template_blocks/item_filters_and_sorts.html' with action_view='trending_POST' sub_view="" hide_graph_metric_options=True %}
        </div>
        <div id="slider-container">
            <form action="{% url 'trending_POST' %}" method="post">
                {% csrf_token %}
                <input type="range" id="slider_start" name="slider_start" min="1" max="{{max_slider_start_value}}" value="{{slider_start_value}}">
                <input type="range" id="slider_end" name="slider_end" min="{{min_slider_end_value}}" max="{{max_slider_end_value}}" value="{{slider_end_value}}">
            </form>
            <p id="slider-value">Range : {{dates|iterable_index:slider_start_value}} - {{dates|iterable_index:slider_end_value}}</p>
        </div>
    </div>

    <div id="items-container">
    {% for item in items %}
        <div class="main-item-container">
            <div class="template-container">
                {% include 'App/template_blocks/item_container.html' %}
            </div>
            <div class="metric-changes-container">
                {% for change in item.metric_changes %}
                    {% if change.change >= 0 %}
                        <p style="color: green;">{{change.metric}} (%) {{change.change}}</p>
                    {% else %}
                        <p style="color: red;">{{change.metric}} (%) {{change.change}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</section>

{{ items|json_script:"items_id" }}

<script>
    var items = JSON.parse(document.getElementById("items_id").textContent)

    var slider_start = document.getElementById("slider_start")
    var slider_start_value = slider_start.value 
    var slider_end = document.getElementById("slider_end")
    var slider_end_value = slider_start.value 

    var slider_output = document.getElementById("slider-value")

    slider_start.oninput = function() {
        var slider_start = document.getElementById("slider_start")
        var slider_start_value = slider_start.value - 1

        var slider_end = document.getElementById("slider_end")
        var slider_end_value = slider_end.value - 1
        slider_output.textContent = `Range : ${items[0].dates[slider_start_value]} - ${items[0].dates[slider_end_value]}`
    }

    slider_end.oninput = function() {
        var slider_start = document.getElementById("slider_start")
        var slider_start_value = slider_start.value - 1

        var slider_end = document.getElementById("slider_end")
        var slider_end_value = slider_end.value - 1
        slider_output.textContent = `Range : ${items[0].dates[slider_start_value]} - ${items[0].dates[slider_end_value]}`
    }

    slider_start.onchange = function() {
        slider_start.parentElement.submit()
    }

    slider_end.onchange = function() {
        slider_end.parentElement.submit()
    }
</script>

{% endblock%}