{% extends 'App/template_blocks/base.html' %}

{% block content %}

{% load static %}
{% load tags %}
<link rel="stylesheet" href="{% static 'App/trending.css' %}">

{{ slider_start_value|json_script:"slider_start_value"}}
{{ slider_end_value|json_script:"slider_end_value"}}

{% with max_graph_points as max_graph_points %}
    {{ max_graph_points|json_script:"max_graph_points" }}
{% endwith %}

{{dates|json_script:"all_dates"}}


<script>
    var onload_slider_value_start = JSON.parse(document.getElementById("slider_start_value").textContent) -1
    var onload_slider_value_end = JSON.parse(document.getElementById("slider_end_value").textContent) 

    window.onload = function() {
        var display = localStorage.getItem('filters-display')
        console.log(display)
        document.getElementById('filters').style.display = display

        if (display == 'block') {
            document.getElementById('collapse-filters-button').innerHTML = 'Hide Filters'
        } else {
            document.getElementById('collapse-filters-button').innerHTML = 'Show Filters'
        }
    }

    window.onbeforeunload = function() {
        localStorage.setItem('filters-display', document.getElementById('filters').style.display);
    }
</script>

<section id="main-container">
    <h2>Trending</h2>

    <section id="filters-container">
        <button id="collapse-filters-button" onclick="hide_unhide('filters')">Show Filters</button>
        {% include 'App/template_blocks/filters.html' with action_view='trending' sub_view="" show_winners_or_losers=True  %}
    </section>

    <div id="header">
        <div id="inputs-forms-container">
            {% include 'App/template_blocks/sorts_and_pages.html' with action_view='trending' sub_view="" hide_graph_metric_options=True %}
        </div>
        <div id="slider-container">
            <form action="{% url 'trending' %}?{{qs}}" method="get">
                <input type="range" id="slider_start" min="{{slider_start_min_value}}" max="{{slider_start_max_value}}" name="slider_start_value" value="{{slider_start_value}}">
                <input type="range" id="slider_end" min="{{slider_end_min_value}}" max="{{slider_end_max_value}}" name="slider_end_value" value="{{slider_end_value}}">
            </form>
            <p id="slider-value">
                {{dates|iterable_index:slider_start_value}}
                {% for i in "01234"|make_list %}&nbsp;{% endfor %}Range{% for i in "01234"|make_list %}&nbsp;{% endfor %}
                {{dates|iterable_index:slider_end_value}}
            </p>
        </div>
    </div>

    <div id="items-container">
    {% for item in items %}
        <div class="main-item-container">
            <div class="template-container">
                {% include 'App/template_blocks/item_container.html' with show_prices=True %}
            </div>
            <div class="metric-changes-container">
                {% for metric, change in item.metric_changes.items %}
                    {% if change >= 0 %}
                        <p style="color: green;">{{metric}} (%) {{change}}</p>
                    {% else %}
                        <p style="color: red;">{{metric}} (%) {{change}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</section>

{{ items|json_script:"items_id" }}

<script>
    var items = JSON.parse(document.getElementById("items_id").textContent)
    var dates = JSON.parse(document.getElementById('all_dates').textContent)

    var slider_start = document.getElementById("slider_start") 
    var slider_start_value = parseInt(slider_start.value) 
    var slider_end = document.getElementById("slider_end")
    var slider_end_value = parseInt(slider_end.value) 

    var slider_output = document.getElementById("slider-value")

    update_range_text = function() {
        var slider_start = document.getElementById("slider_start")
        var slider_start_value = parseInt(slider_start.value) 

        var slider_end = document.getElementById("slider_end") 
        var slider_end_value = parseInt(slider_end.value) 

        var string_spaces = '\xa0'.repeat(6)

        slider_output.textContent = `${dates[slider_start_value]}${string_spaces}Range${string_spaces}${dates[slider_end_value]}`
    }

    submit_form = function() {
        slider_start.parentElement.submit()
    }

    slider_start.oninput = update_range_text
    slider_end.oninput = update_range_text

    slider_start.onchange = submit_form
    slider_end.onchange = submit_form
    
</script>

{% endblock%}