body {
    /* background-color:white; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom:5rem; 
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 6rem;
}

select, option {
    text-align: center;
}


nav {
    border-bottom: 0.1rem rgb(228, 220, 220) solid;
    position:fixed;
    width: 100%;
    z-index: 5;
    height: 3rem;
    background-color: white;
    top:0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    height: 100%;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 5rem;
}

nav ul li button {
    background-color: transparent;
    border: none;
    font-size: medium;
    text-align: center;
    color:black ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a {
    font-size: medium;
    text-decoration: none;
    color: black;   
}

#dropdown-links {
    display: none;
    height: 2rem;
    margin: 0.7rem 2rem 0;
}

#dropdown-links button {
    background-color: transparent;
    border: none;
}

#dropdown-button-img {
    width: 1.4rem;
    margin-left: 0.5rem;
}

.dropdown-content {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 0.1rem rgb(228, 220, 220) solid;
    border-top: none;
    margin-top: 0;
    width: 5rem;
    position: absolute;
    top: 100%;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.dropdown-content a {
    background-color: white;
    padding: 0.4rem 0 0.4rem;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

nav ul li:hover .dropdown-content {
    display: flex;
}


#search-suggestions-container {
    height: 3rem;
    position: absolute;
    right: 5%;
}

#search-suggestions-container form {
    height: 2rem;
    margin-top: 0.4rem;
    
}

#search-suggestions-container form input {
    height: 2rem;
    text-align: center;
    width: 15.5rem;
    border-radius: 0;
    outline: none;
}

#logout {
    position: absolute;
    right: 1%;
}

#logout img {
    margin-top: 0.6rem;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}



#search-suggestions {
    display: flex;
    width: 15.5rem;
    flex-direction: column;
    margin-top: 0.35rem;
    overflow-y: scroll;
    height: calc(6.1rem * 6);
    background-color: yellow;
}

#search-suggestions::-webkit-scrollbar {
    display: none;
}

.search-suggestion {
    height: 6.2rem;
    padding: 0;
    margin: 0;
    background-color: white;
    border-bottom: 0.1rem whitesmoke solid; 
    text-decoration: none;
    color: rgb(168, 159, 159);   
}

.search-suggestion:hover {
    background-color: whitesmoke;
}

.search-suggestion:last-child {
    border: none;
}

.item-id-img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 5.65rem;
    margin-top: 0.35rem;
    right: 2rem;
    float: left;
}

.item-img {
    height: 4rem;
    width: 4rem;
    margin: 0.5rem 1rem 0;
}

.item-id {
    text-align: center;
    padding: 0;
    text-decoration: none;
}

.item-name-contianer {
    width: 55%;
    height: 4.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    line-clamp: 3; 
    -webkit-box-orient: vertical;
    font-size: 0.9rem;
    margin-top: 1rem;
}


footer {
    min-height: 10rem;
    background-color: white;
    top: 0;
    width: 100%;
    padding: 0;
    border-top: 0.1rem rgb(228, 220, 220) solid;
    text-align: center;
    padding-bottom: 1rem;
    z-index: 1000;
}

footer #smaller-text {
    font-size: 0.73rem;
    font-style: italic;
    color: gray;
}

.tool-tip {
    background-color: rgb(224, 212, 212);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 0.2rem;
    font-size: 0.9rem;
    text-align: center;
    border: 0.1rem orangered solid;
    position: relative;
    top: 4rem;
    right: 1rem;
}

.tool-tip-text {
    visibility: hidden;
    position: absolute;
    width: 10rem;
    bottom: 1.5rem;
    left: -4.65rem;
    background-color: rgb(224, 212, 212);
    border-radius: 0.5rem;
    border: 0.1rem orangered solid;
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
}

.tool-tip .tool-tip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: orangered transparent transparent transparent;
  }

@media only screen and (max-width:1355px) {
    .about-box h3 {
        height: 2.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (max-width:792px) {
    .about-box h3 {
        height: 3.8rem;
    }
}

@media only screen and (max-width:900px) {
    nav {
        height: 3rem;
        display:flex;
    }

    nav ul {
        flex-direction: column;
        justify-content: left !important;
        width: 6rem;
        position: absolute;
        left: 0%;
        padding: 0;
        display: none;
        margin: 3rem 0 0 ;
    }
    
    nav ul li {
        padding: 0.3rem;
        background-color: white;
        font-weight: bold;
    }

    #dropdown-links {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #search-suggestions-container {
        padding: 0;       
        top: 0; 
        right: unset;
    }

    .dropdown-content {
        display: block;
        border: none;
        margin-top: 2.7rem;
        font-weight:normal ;
        
    }

    .dropdown-content a {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 5rem;
        padding: 0.3rem;
        position: relative;
        right: 0.3rem;
        font-weight: normal;
    }

    #dropdown-links {
        margin-top: 0.8rem;
        display: block;
        position: relative;
        right: 48%;
    }
}

@media only screen and (min-width:900px) {
    #nav-ul-links {
        display: flex;
    }
}

@media only screen and (max-width:425px) {


    #search-suggestions-container form input {
        width: 10rem;
    }

    .item-id-img-container {
        margin: auto;
        margin-left: calc(50% - 3rem);
    }

    .item-name-contianer {
        display: none;
    }
}